@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-color: #264653;
  --white-color: #ffffff;
  --blue-color: #56aff3d2;
  --danger-color: #ff9595;
  --green-color: #8bd281;
  --light-blue-color: #76c2fcd2;
  --gray-white-color: #f5f5f5;
  --dark-orange-color: #e76f51;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--gray-white-color);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
img {
  width: 100%;
  display: block;
}

.container {
  padding: 0 1rem;
  width: 90%;
  margin: 0 auto;
}
#main {
  padding: 3rem 0 0 0;
  position: relative;
}
.material-symbols-outlined {
  cursor: pointer;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
.colum {
  width: 100%;
}
.tag {
  font-weight: 700;
  color: var(--black-color);
  cursor: pointer;
}
.main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--black-color);
  font-weight: 700;
  position: relative;
}
.link {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black-color);
  cursor: pointer;
  transition: color 0.1s ease;
}
.link:hover {
  color: var(--blue-color);
}
.btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white-color);
  background: var(--blue-color);
  padding: 1rem 3.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}
.btn:hover {
  background: var(--light-blue-color);
}

/* === Nav Bar Styling Start === */
#nav-bar {
  padding: 15px 0;
  background: var(--white-color);
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.01);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login-singup-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-content .logo h1 a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black-color);
  cursor: pointer;
}
.nav-content .logo h1 a span {
  color: var(--blue-color);
}
.icon-box {
  margin-right: 0.8rem;
}

/* === Nav Bar Styling End === */
/* === Main Section Styling Start === */

.quiz-box {
  background: var(--white-color);
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.01);
  padding: 1rem;
  border-radius: 10px;
}
.banner {
  width: 100%;
}
.banner a img {
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}
.quiz-content {
  padding: 1rem 0 0 0;
}
.quiz-title h3 {
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 20px;
  color: var(--black-color);
  text-align: left;
}

.qt-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.qt-title-box p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black-color);
}
/* === Main Section Styling End === */
