.title-box h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.title-box p {
  font-size: 1.3rem;
  color: #5b5b5b;
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.answers-box {
  margin-top: 2rem;
}
.quiz-result .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #e8ebec;
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 5px;
  box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.01);
  cursor: pointer;
}
.checkbox p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
.answers-box .red {
  background: var(--danger-color);
}
.answers-box .green {
  background: var(--green-color);
  color: var(--black-color);
}

.progress-box {
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  gap: 1rem;
}
.progress-box .btn {
  padding: 1rem 2rem;
}
.progress-box .btn a {
  color: var(--white-color);
}
.progress-bar {
  width: 70%;
  height: 4px;
  background: #e8ebec;
  border-radius: 5px;
}
.prgress {
  width: 30%;
  height: 100%;
  background: #8bd281;
  position: relative;
}
.prgress::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8bd281;
  transform: translateY(-50%);
}
@media (max-width: 556px) {
  .progress-box {
    flex-direction: column;
  }
  .progress-bar {
    order: -1;
    width: 100%;
  }
}
